<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  <style>
	body {
		font-family: "Browallia New";
		padding: 0px 40px 0px 40px;
	}
	
	.full-width {
		width: 86%;
	}
	
	.col-footer {
		color: #3333dd;
		font-size: 11px;
		font-weight: bold;
	}
	
	.font-11 {
		font-size: 8px;
	}
  
  
  </style>
</head>
<body>

<table class="full-width">
	<tr>
		<td class="col-footer">
			 CHEMLAB SERVICES (THAILAND) LIMITED,282 B3 Building,2-4 Floor, Soi Soonvijai 4,Rama IX Road, Bangkapi,Huaykwang,Bangkok 10310
			 <br>
			 Tel: (662)719 6488-92,Fax :(662)7196483,E-mail: chemlab_bkk@yahoo.com,www.chemlabgroup.com,chemlab_Rayong@yahoo.com 
		</td>
	<tr>
	
	<tr>
		<td class="font-11" align="right">
			     REC-0009-005 (Issue No.1, Revision No.2, Effective Date : Jun. 17, 2019)
		</td>
	<tr>
</table>


</body>
</html>